<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>welcome  {{name}}</h3>

    {% if perms.testapp.delete_blog %}
    <input type="button" value="delete">&nbsp&nbsp&nbsp
    {% endif %}

    {% if perms.testapp.add_blog %}
    <input type="button" value="add">&nbsp&nbsp&nbsp
    {% endif %}

    {% if perms.testapp.view_blog %}
    <input type="button" value="view">&nbsp&nbsp&nbsp
    {% endif %}

    {% if perms.testapp.change_blog %}
    <input type="button" value="change">&nbsp&nbsp&nbsp
    {% endif %}

    <a href="{% url 'logout' %}">logout</a>
</body>
</html>