{% extends 'base.html' %}
{% load static %}
{% block title %}REGISTER{% endblock %}

{% block body %}

<br><br>
<div class="container">
    <div class="text-center alert alert-warning"><h1>REGISTER</h1></div>

</div>

<div class="container">
    <div class="row text-center">
        <div class="col-sm-4 offset-4"> 
            {% if messages %}
                {% for message in messages %}
                        <small {% if message.tags %} class="{{message.tags}} text-center" {% endif %}}> <h6 class="alert alert-danger">{{message | upper}}</h6></small>
                {% endfor %}
            {% endif %}

        </div>
    </div>
</div>

<div class="container">

    <form action="" method="POST" novalidate>
        {% csrf_token %}
        <div class="container text-center">
    
                {% for fm in form %}
                <div class="row">
                    <div class="col sm-1 alert alert-info offset-2">
                        {{fm.label_tag}}
                    </div>
    
                    <div class="col sm-2">
                       {{fm}}
                    </div>
    
                    <div class="col sm-4">
                        <div class="row">
                            <div class="col-sm-12  mb-3">{{fm.errors|striptags}}</div>
                          </div>
                    </div>
    
                </div>        
             
                {% endfor %}
                
            </div>
    
            <div class="text-center"><input class="col-sm-1  btn btn-secondary " type="submit" value="Signup"> </div>
        </div>
        
    
    </form>
    

</div>


{% endblock %}